<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ReleaselyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_releasely_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_releasely_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Releasely">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Releasely">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
